body, html, li, ul {
    margin: 0;
    padding: 0
}

html, body {
    -ms-text-size-adjust: 100%;
    height: 100%;
    font-family: 'Biko Regular', sans-serif;
    letter-spacing: 0.03rem;
}

*{
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

*, :after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.content > .table-view:first-child {
    margin-top: -2px;
}

.hidden {
    opacity: 0;
}

.media-object.big {
    width: 80px;
    height: 80px;
    border-radius: 40px;
}

.media-object.small {
    width: 50px;
    height: 50px;
    border-radius: 25px;
}

.table-view-cell h1 {
    font-size: 20px;
    font-weight: normal;
    padding: 20px 0 4px 0;
    margin: 0;
}

input[type=search] {
    border-radius: 8px;
}


.header-container{
    position: relative;
    height: 50px;
}

.header-container > .bar{
    height: 50px;
    background: #d26b5a; /* Old browsers */
    background: -moz-linear-gradient(top,  #d26b5a 0%, #c55d5e 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #d26b5a 0%,#c55d5e 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #d26b5a 0%,#c55d5e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d26b5a', endColorstr='#c55d5e',GradientType=0 ); /* IE6-9 */
}

.header-container .title{
    color: #fff;
    font: 24px/54px 'Biko Bold', sans-serif;
}

.bar-header-secondary{
    padding: 10px;
    height: 60px;
    border: 0;
    background: #eee;
    top: 50px;
}

.bar-header-secondary ~ .content{
    padding-top: 0;
}

.bar input[type="search"] {
    letter-spacing: 0.03rem;
    font: 16px 'Biko Regular', sans-serif;
    height: 35px;
    padding: 12px 20px 10px;
    margin: 2px 0;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    border: 0;
    -webkit-box-shadow: 0 0 20px rgba(0,0,0,0.05);
    -moz-box-shadow: 0 0 20px rgba(0,0,0,0.05);
    box-shadow: 0 0 20px rgba(0,0,0,0.05);
}